<h3>{{ title | uppercase }}</h3>

<button (click)="goBack()">Go Back</button>
<div *ngIf="hero">
  <h4>{{hero.id}} - {{ hero.name }}</h4>
  <div>
    <input [(ngModel)]="hero.name" type="text" />
  </div>  
  <button (click)="save()">Save</button>
</div>