<h3>{{ title | uppercase }}</h3>

<div *ngIf="msgService.messages.length > 0">
  <div *ngFor="let msg of msgService.messages">{{ msg }}</div>
  <button (click)="msgService.clear()">Clear</button>
</div>