<h3>{{ title | uppercase }}</h3>

<div class="grid grid-pad">
  <a class="col-1-4" routerLink="/detail/{{hero.id}}" *ngFor="let hero of heroes$ | async">
    <div class="module hero">{{ hero.name }}</div>
  </a>
</div>

<app-hero-search></app-hero-search>