  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    color    : #369;
    font-size: 250%;
  }

  h2,
  h3 {
    color      : #444;
    font-weight: lighter;
  }

  body {
    margin: 2em;
  }

  body,
  input[type="text"],
  button {
    color      : #333;
    font-family: Cambria, Georgia;
  }