<h3>{{ title | uppercase }}</h3>

<div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}
        </span>{{hero.name}}
      </a>
      <button class="delete" (click)="delete(hero)">X</button>
    </li>
  </ul>
</div>
<div>
  <input #newHeroNameInput type="text" />
  <button (click)="add(newHeroNameInput.value); newHeroNameInput.value = ''">Add</button>
</div>
